#wordaI {
  display:flex;
  flex-flow: column;
  justify-content: start;
  transition: 1.5s;
  height: 100vh;
  background-color: white;
} #wordaI.dark {
  background-color: rgb(65, 65, 65);
}

#header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
} #title {
  color: rgba(0, 0, 0, 0.675);
  margin-bottom: 0px;
  transition: 1.5s;
} #header a {
  font-size: small;
  font-family: monospace;
  color:#afafaf;
  margin-top: 20px;
  margin-right: 20px;
} #title.dark {
  color: rgb(222, 222, 222);
}

#info {
  margin-top: 20px;
  margin-left: 20px;

  font-family: monospace;
  font-size: large;
  font-weight: 500;
  color: #afafaf;

  display:flex;
  
  cursor: pointer;
} #blurb {
  margin-top: 30px;
  margin-left: 0px;
  width: fit-content;
  padding:4px;
  padding-right: 6px;

  background-color: white;
  border-style: solid;
  border-width: 1px;

  font-family:Arial, Helvetica, sans-serif;
  font-size: small;
  color: black;
  white-space: pre-wrap;

  position: absolute;
  z-index: 1;
  
  visibility: hidden;
  transition: 0s;
} #info .show {
  visibility: visible;
}


#page {
  display:flex;
  justify-content: center;
}

#content {
  display:flex;
  flex-flow: column;
  justify-content: start;
}

#list {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 420px;
} .word {
  margin: 10px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.775);
} #list.dark .word{
  color: white;
}

label {
  font-size: small;
  margin-left: 5px;
  color:#afafaf
}
#inb label {
  color:#8cbbaa;
  margin-left: 94px;
}

#boxes {
  display: flex;
  justify-content: center;
}
#in {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
#in,#ex {
  color: white;
  text-transform: uppercase;

  cursor: pointer;
}
#boxes p {
  font-size: 24px;
}

.input{
  height: 30px;
  display: flex;
  justify-content: center;

  margin: 5px;
  width: 29px;
  
  padding: 3px;
  padding-bottom: 4px;
  padding-top: 0px;
  border-radius: 3px;
}
.exclude{
  display:flex;
  flex-wrap:unset;
  
  justify-content: left;

  background-color: #afafaf;

  margin: 5px;
  margin-left: 15px;
  padding: 3px;
  padding-bottom: 4px;
  padding-top: 0px;
  padding-left:4px;
  padding-right: 4px;
  border-radius: 3px;
}

img {
  width: 60px;
  height: 60px; 
  align-self: center;
  margin-bottom:60px;
  border-radius: 8px;
} #bh {
  margin-left: 80px;
  animation: float 5.2s ease-in-out infinite; 
  transition: 2s;
} #ge {
  margin-right: 150px;
  animation: float 7s ease-in-out infinite;
} #ya {
  animation: float 6s ease-in-out infinite;
} #bs {
  margin-right: 70px;
  animation: float 7.3s ease-in-out infinite;
} #bj {
  margin-left: 90px;
  animation: float 6.3s ease-in-out infinite;
} #gg {
  margin-right: 120px;
  animation: float 5.8s ease-in-out infinite;
}
  #ye {
  margin-right: 60px;
  animation: float 5.2s ease-in-out infinite; 
} #bu {
  margin-left: 100px;
  animation: float 6.2s ease-in-out infinite;
} #gm {
  margin-right: 100px;
  animation: float 5s ease-in-out infinite;
} #bw {
  margin-left: 140px;
  animation: float 6.8s ease-in-out infinite;
} #gs {
  margin-right: 50px;
  animation: float 6s ease-in-out infinite;
} #br {
  margin-left: 90px;
  animation: float 5.1s ease-in-out infinite;
  margin-bottom: 20px;;
}
  
#mode {
  font-size: large;
  font-family: monospace;
  color:rgb(65, 65, 65);
  width:100px;
  

  display: flex;
  justify-content: center;
  cursor: pointer;

  position: absolute;
  bottom:20px;
  right: 10px;
  
} #mode.dark {
  color: #afafaf;
}


.border {
  width:250px;
  height:600px;
  display: flex;
  flex-flow: column;
}

@keyframes float {
  0%{
      transform: translateY(-5px)
  }
  50%{
      transform: translateY(+5px)
  }
  100%{
      transform: translateY(-5px)
  }
}
