.wordaI {
  display:flex;
  flex-flow: column;
  justify-content: center;
}

#header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
} #header h1 {
  color: #8cbbaa;
  color: rgba(0, 0, 0, 0.675);
  margin-bottom: 3px;
} #header h2 {
  margin-top: 30px;
  margin-left: 30px;

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #eed494;
} #header b {
  margin-right: 30px;
}

.list {
  display:flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 420px;

} .list p {
  margin: 10px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.775);
}

label {
  font-size: small;
  margin-left: 5px;
  color:#afafaf
}

#inb label {
  color:#8cbbaa;
  margin-left: 71px;
}

#boxes {
  display: flex;
  justify-content: center;
}
#inb {
  width:max-content;
}

#in {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
#in,#ex {
  color: white;
  text-transform: uppercase;
}





.input{
  display: flex;
  justify-content: center;

  margin: 5px;
  width: 20px;
  height: 20px;
  padding: 3px;
  padding-bottom: 4px;
  padding-top: 2px;
  border-radius: 3px;
}
.exclude{
  display:flex;
  
  justify-content: left;

  background-color: #afafaf;

  margin: 5px;
  margin-left: 15px;
  height: 20px;
  padding: 3px;
  padding-bottom: 4px;
  padding-top: 2px;
  border-radius: 3px;

}